body{
    background-image:url(\images/151368.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
/* body{
    background-image:    url(images/golembackground.jpg);
    background-size:     cover;                
    background-repeat:   no-repeat;
    overflow: hidden;
}*/

.title{
    margin-left:11px;
    font-size: 75px;
    color:skyblue;
    background-color: rgb(0, 0, 0,.5);
    width:790px;
    /* position: static;
    display:inline; */
    white-space: nowrap;
    /* overflow: hidden; */

}
.minitext{
    color:white;
    background-color: rgb(255, 166, 0,0.5);
    width:680px;
    font-size:40px;
    margin-left:11px;

}
label{
    color:rgb(0, 255, 255);
    font-size:20px;
    background-color: rgba(0,0,0,.8);
    

}
select{
    color:red;
    font-size: 25px;
}
option{
    color:red;
    font-size:25px;
}
input{
    color:rgb(0, 255, 255);
    font-size:20px;
    background-color: rgba(0,0,0,0.5);
    float:right;
    width:100px;

}
.subtitle{
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: rgb(0, 145, 145);
    padding:10px;
}
.stats{
    float:left;
    clear:none;
    display: inline-block;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 360px;
    margin:5px;
    position:relative;
    overflow:hidden;
}

.copyOver{
    font-size: 20px;
    width:150px;
    height:30px;
    background-color:lightcoral;
}
.character{
    /* background-image:url('images/Element_Pyro.png'); */
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url('images/Element_Physical.png');
    background-position: 40%;
}
.character2{
    /* background-image:url('images/Element_Pyro.png'); */
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 40%;
    background-image: url('images/Element_Physical.png');
    
}
.enemy{
    clear:left;
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;
}
select{
    float:right;
    clear:right;
}
.c{
    float:left;
    background-color: black;
    color:white;
    width:auto;
    
    
}
.split{
    float:left;
    border-style: solid;
}
.atk{/* for bennett and sara */
    border-style:none;
    width:320px;
    padding:10px;
}
.bonus{
    border-style:none;
    width:320px;
    padding:10px;
}







.consTitle{
    text-align:center;
    font-size: 20px;
}

.separate{
    float:left;
}
.output_log{
    float:left;
    padding:10px;
    font-size:24px;
    white-space: pre-line;
    white-space:  pre;
    white-space: pre-wrap;
    margin:4px;
    /* allows new line \n */
}
.console{
    font-size:10px;
}
.buff{
    background-color:rgb(0, 0, 0,.5);
    float:none;
    display:inline-block;
    width:680px;
}
input.box{
    transform:scale(2);
    width:20px;
    margin-right:10%;

}
.cbuffs{/*for characters*/
    display:none;
    border-color:black 1px;
    /* background-image: url('images/sucrose_BG.png'); */
}
.bg{
    clear:left;
    border-style: solid;
    border-color: black;
    display:block;
    background-size:400px;
    background-position-x:40%;
    background-position-y:100%;
    background-repeat: no-repeat;
    height:300px;
    
}
.sucrose{
    border-color:chartreuse;
    background-image: url('images/sucrose_gacha_splash.png');
    background-position-x:30%;background-position-y:70%;
}
.bennet{
    border-color: crimson;
    background-image:url('images/bennett_gacha_splash.png');
}
.kazuha{
    border-color: chartreuse;
    background-image:url('images/kazuha_gacha_splash.png');
    

}
.mona{
    border-color:skyblue;
    background-image: url('images/mona_gacha_splash.png');
}
.sara{
    border-color: purple; 
    background-image: url('images/sara_gacha_splash.png');
    background-position-y:50%;
}
.artifact{
    float:left;
    overflow:hidden;
}
