body{
    background-image:url(\images/151368.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
/* body{
    background-image:    url(images/golembackground.jpg);
    background-size:     cover;                
    background-repeat:   no-repeat;
    overflow: hidden;
}*/

.title{
    margin-left:11px;
    font-size: 75px;
    color:skyblue;
    background-color: rgb(0, 0, 0,.5);
    width:600px;
    /* position: static;
    display:inline; */
    white-space: nowrap;
    /* overflow: hidden; */

}
.minitext{
    color:white;
    background-color: rgb(255, 166, 0,0.5);
    width:680px;
    font-size:40px;
    margin-left:11px;

}
label{
    color:rgb(0, 255, 255);
    font-size:20px;
    background-color: rgba(0,0,0,.5);
    

}
select{
    color:red;
    font-size: 25px;
}
option{
    color:red;
    font-size:25px;
}
input{
    color:rgb(0, 255, 255);
    font-size:20px;
    background-color: rgba(0,0,0,.5);
    float:right;
    width:100px;

}
.subtitle{
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: rgb(0, 145, 145);
    padding:10px;
}
.stats{
    float:left;
    clear:none;
    display: inline-block;
    white-space: nowrap;
    background-color: rgba(0, 124, 161, 0.3);
    padding: 10px;
    width: 400px;
    margin:5px;
    position:relative;
    overflow:hidden;
}
.character{
    /* background-image:url('images/Element_Pyro.png'); */
    background-repeat:no-repeat;
    background-size:cover;
}
.enemy{
    clear:left;
    background-color: rgba(0, 124, 161, 0.3);
    background-repeat:no-repeat;
    background-size:cover; 
    height:400px;
}
select{
    float:right;
    clear:right;
}
.c{
    
    background-color: black;
    color:white;
    position:relative;
    right:0px;
    bottom:0px;
    width:1600px;
    display:inline-block;
    
}
.output_log{
    float:left;
    clear:none;
    padding:10px;
    font-size:20px;
    white-space: pre-line;
    white-space:  pre;
    white-space: pre-wrap;
    border-style: solid;
    border-color: skyblue 1px;
    margin:4px;
    /* allows new line \n */
}

.view{
    font-size:20px;
    align-content: center;
}

#dmgout{
    padding-right:50px;
    font-size: 30px;
}
#dmgout2{
    padding-right:50px;
    font-size: 30px;
}


.buff{
    display:inline-block;
    vertical-align: top;
    float:none;
    clear:left;
    width:400px;


}
input.box{
    transform:scale(2);

}
.cbuffs{/*for characters*/
    display:none;
    border-color:black 1px;
    /* background-image: url('images/sucrose_BG.png'); */
}
.bg{
    clear:left;
    border-style: solid;
    border-color: black;
    display:block;
    background-size:400px;
    background-position-x: 60%;
    background-repeat: no-repeat;
    height:300px;
    
}
.sucrose{
    border-color:chartreuse;
    background-image: url('images/sucrose_gacha_splash.png');
}
.bennet{
    border-color: crimson;
    background-image:url('images/bennett_gacha_splash.png');
}
.kazuha{
    border-color: chartreuse;
    background-image:url('images/kazuha_gacha_splash.png');
}
.mona{
    border-color:skyblue;
    background-image: url('images/mona_gacha_splash.png');
}
.artifact{
    float:none;
    display: inline-block;
    overflow:hidden;
}
