@font-face {
    font-family: genshinFont;
    src: url(ja-jp.ttf);
}
body{
	background-image: url(images/00d5520f2e2e4e2c81e4f10d.jpg);
	background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    font-family: genshinFont;
}
.left{
    display: block;
    float:left;
    width:40%;
}
.middle{
    margin-top: 130px;
    display: block;
    float:left;
    width:10%;
    margin-right:auto;
    margin-left: auto;
}
.right{
    display: block;
    float:left;
    width:40%;
}
.mainheading{
    display: block;
    background-color:#0000004b;
    top:10px;
    width:100%;
    height: 120px;
    white-space: nowrap;
    position:fixed;
    color: white;
    font-size: 100px;
    float:left;

}
.dividers{
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    position: relative;
}
.contentblock{
    margin-top:130px;
    background-color: rgb(0,0,0,.3);
    width:700px;
    font-size: 20px;

}
.subheading{
    background-color: rgb(0,0,0,.5);
    color: #00ffc3;
    text-align: center;
    font-size: 50px;
}
.list{
    font-size: 30px;
    display: block;
    color:#9bfdfe;
    text-align: center;
    
}