@font-face {
    font-family: genshinFont;
    src: url(ja-jp.ttf);
}
body{
    background-image:url(\images/element\ dark\ background.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 2000px;
    font-family: genshinFont;
}
/* body{
    background-image:    url(images/golembackground.jpg);
    background-size:     cover;                
    background-repeat:   no-repeat;
    overflow: hidden;
}*/

.title{
    margin-left:11px;
    font-size: 60px;
    color:skyblue;
    background-color: rgb(0, 0, 0,.5);
    width:790px;
    /* position: static;
    display:inline; */
    white-space: nowrap;
    /* overflow: hidden; */
    float:left;

}
.minitext{
    float:left;
    color:white;
    background-color: rgb(255, 166, 0,0.5);
    width:680px;
    font-size:30px;
    margin-left:11px;

}
label{
    color:rgb(0, 255, 255);
    font-size:18px;
    background-color: rgba(0,0,0,.6);
}
select{
    color:red;
    font-size: 22px;
}
option{
    color:red;
    font-family: genshinFont;
    font-size:22px;
}
input{
    color:rgb(255, 255, 255);
    font-family: genshinFont;
    font-size:18px;
    background-color: rgba(0,0,0,0.5);
    float:right;
    width:90px;

}
.subtitle{
    font-size:25px;
    text-align: center;
    color: white;
    background-color: rgb(0, 145, 145);
    padding:8px;
}
.stats{
    white-space: nowrap;
    font-size:15px;
    background-color: rgba(0, 0, 0, 0.3);
    width:320px;
    padding:10px;
    margin:5px;
    position:absolute;
    top:80px;
    overflow:hidden;
}

.copyOver{
    font-size: 20px;
    width:140px;
    height:30px;
    background-color:lightcoral;
    border-radius: 2px;
}
.character1{
    /* background-image:url('images/Element_Pyro.png'); */
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url('images/Element_Physical.png');
    background-position: 40%;
}
.character2{
    left:360px;
    /* background-image:url('images/Element_Pyro.png'); */
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 40%;
    background-image: url('images/Element_Physical.png');
}

.artifact{
    left:720px;
    width:400px;
}

.buff{
    background-color:rgb(0, 0, 0,.5);
    left: 1200px;
    width:680px;
    position: absolute;
}

.collapsible{
    display: none;
}
.enemy{
    top:680px;
    left:20px;
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;
}
select{
    float:right;
    clear:right;
    font-family: genshinFont;
}
.c{
    position: absolute;
    top: 680px;
    left: 360px;
    /* 
    this keeps div at position even after dimension change
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    background-color: black;
    color:rgb(0, 225, 255);
    width:auto;

}
#console{
    position:absolute;
}
.header{
    cursor:move;
}
.split{
    float:left;
    border-style: solid;
    color:white;
}
.atk{/* for bennett and sara */
    border-style:none;
    width:320px;
    padding:10px;
}
.bonus{
    border-style:none;
    width:320px;
    padding:10px;
}


.consTitle{
    text-align:center;
    font-size: 20px;
}

.separate{
    float:left;
}
.output_log{
    float:left;
    padding:5px;
    font-size:24px;
    white-space: pre-line;
    white-space:  pre;
    white-space: pre-wrap;
    margin:4px;
    /* allows new line \n */
}
.console{
    font-size:10px;
}

input.box{
    transform:scale(2);
    width:20px;
    margin-right: 7%;

}
.cbuffs{/*for characters*/
    display:none;
    border-color:black 1px;
    /* background-image: url('images/sucrose_BG.png'); */
}
.bg{
    clear:left;
    border-style: solid;
    border-color: black;
    display:block;
    background-size:400px;
    background-position-x:40%;
    background-position-y:100%;
    background-repeat: no-repeat;
    height:300px;
    
}
.sucrose{
    border-color:chartreuse;
    background-image: url('images/sucrose_gacha_splash.png');
    background-position-x:30%;background-position-y:70%;
}
.bennet{
    
    border-color: crimson;
    background-image:url('images/bennett_gacha_splash.png');
}
.kazuha{
    border-color: chartreuse;
    background-image:url('images/kazuha_gacha_splash.png');
    

}
.mona{
    border-color:skyblue;
    background-image: url('images/mona_gacha_splash.png');
}
.sara{
    border-color: purple; 
    background-image: url('images/sara_gacha_splash.png');
    background-position-y:50%;
}
.Pyro{
    color:'#fd9a00';
}
.Cyro{
    color:'#36cdff';
}
.Hydro{
    color:'#36cdff';
}
.Electro{
    color:'#dd9dfd';
}
.Anemo{
    color:'#5dffd9';
}
.Geo{
    color:'#ffca64';
}